@import "../../styles/app.scss";

.HomePage {
  -webkit-animation: fadein $transition-duration-1s;
  -moz-animation: fadein $transition-duration-1s;
  -ms-animation: fadein $transition-duration-1s;
  -o-animation: fadein $transition-duration-1s;
  animation: fadein $transition-duration-1s;

  overflow: hidden;  
  height: auto;

  &__first-name {
    -webkit-animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -moz-animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -ms-animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -o-animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
  }

  &__wide-right-fade {
    -webkit-animation: fade-in-right-wide $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
    -moz-animation: fade-in-right-wide $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
    -ms-animation: fade-in-right-wide $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
    -o-animation: fade-in-right-wide $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
    animation: fade-in-right-wide $transition-duration-ultra-short cubic-bezier(0.25, 0.2, 0, 1);
    transform: translateX(50%);
  }

  &__last-name {
    -webkit-animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -moz-animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -ms-animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    -o-animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
    animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);
  }

  &__hi {
    -webkit-animation: fadein $transition-duration-1s;
    -moz-animation: fadein $transition-duration-1s;
    -ms-animation: fadein $transition-duration-1s;
    -o-animation: fadein $transition-duration-1s;
    animation: fadein $transition-duration-1s;
  }

  &__email {
    -webkit-animation: fadein $transition-duration-med;
    -moz-animation: fadein $transition-duration-med;
    -ms-animation: fadein $transition-duration-med;
    -o-animation: fadein $transition-duration-med;
    animation: fadein $transition-duration-med;
  }

  &__neon {
    -webkit-animation: neon5 $transition-duration-short;
    -moz-animation: neon5 $transition-duration-short;
    -ms-animation: neon5 $transition-duration-short;
    -o-animation: neon5 $transition-duration-short;
    animation: neon5 $transition-duration-short;
  }

  &__neon-box-shadow {
    -webkit-animation: neon-box-shadow $transition-duration-med;
    -moz-animation: neon-box-shadow $transition-duration-med;
    -ms-animation: neon-box-shadow $transition-duration-med;
    -o-animation: neon-box-shadow $transition-duration-med;
    animation: neon-box-shadow $transition-duration-med;
  }

  &__texture-container {
    border: 10px solid red;
  }

  svg {
    fill: map-get($colors, "white");
  }
  
  @media (min-width: 1024px) {
    height: 100vh;
  }

  &__headline {
    font-size: 6rem; 
  }

  &__sub-headline {
    font-size: 1.5rem;
  }

  &__header {
    
    &--roles {
      display: none;
      
      @media (min-width: 1024px) {
        display: flex;
      }
    }

    &--name {
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }


  &__body {

    flex-wrap: wrap;
      
    @media (min-width: 1024px) {
      flex-wrap: nowrap;
    }

    &--info-container {

      width: 100%;
      
      @media (min-width: 1024px) {
        width: 66.66%
      }

    }

    &--image-desktop {
      display: none;
      height: auto;

      @media (min-width: 640px) {
        height: 100%;
      }
      
      @media (min-width: 1024px) {
        display: block;
      }
    }

    &--image-mobile {
      display: block;
      height: auto;

      @media (min-width: 640px) {
        height: 100%;
      }
      
      @media (min-width: 1024px) {
        display: none;
      }
    }

    &--projects-container {
      overflow-y: none;
      width: 100%;
      
      @media (min-width: 1024px) {
        width: 33.33%;
        overflow-y: scroll;
      }
    }

    &--link {
      border: 1px solid map-get($colors, "black");
      box-shadow: -5px 5px 4px map-get($colors, "white");
      background: map-get($colors, "white");
      text-decoration: none;
    }
  }
}
