
@import "../../../styles/app.scss";

.InfoSection {
  &__image-desktop {
    background-position-y: 25%;
    background-size: cover;
    height: 450px;

    @media (min-width: 1024px) {
      background-position-y: 25%;
      height: 100%;
      display: block;
    }
  }
}

