$colors: (
  "black": #000,
  "white": #fff,
  "grey": #828282,
  'lime-dark': #20a854,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@each $color-name, $value in $colors {
  .color-#{$color-name},
  .text-#{$color-name} {
    color: $value;
  }

  .background-color-#{$color-name},
  .bg-#{$color-name} {
    background-color: $value;
  }

  .border-color-#{$color-name} {
    border-color: $value;
  }

  .fill-#{$color-name} {
    fill: $value;
  }

  .stroke-#{$color-name} {
    stroke: $value;
  }
}