.title-sans-serif {
  // font-family: 'LiberalHandSans', sans-serif;
  // font-family: sans-serif;
  font-family: minipax-regular;
}

@font-face {
  font-family: "LiberalHandSans";
  src: url('./LiberalHandSans-Rg\(OT\).otf');
}

@font-face {
  font-family: "minipax-regular";
  src: url("./minipax-regular.otf");
  font-weight: normal;
  font-style: normal;
}
