.title-sans-serif {
  font-family: 'LiberalHandSans', sans-serif;
}

.outline-font {
  font-family: 'Londrina Outline', cursive;
}

@font-face {
  font-family: "LiberalHandSans";
  src: url('./LiberalHandSans-Rg\(OT\).otf');
}
