@import "../../../styles/app.scss";

.DesktopInfo {
  &__email-button {

    border: 1px solid map-get($colors, "black");
    box-shadow: -5px 5px 4px map-get($colors, "white");
    background: map-get($colors, "white");
    text-decoration: none;
    color: map-get($colors, "black");

    &:hover {
      background-color: map-get($colors, "grey");
      box-shadow: -5px 5px 4px map-get($colors, "grey");

      > span {
        color: map-get($colors, "white");
      }
    }

    width: 25%;

    @media (min-width: 1024px) and (max-width: 1266px) {
      width: 33.33%;
    }

     @media (min-width: 640px) and (max-width: 858px) {
      width: 50%;
    }
  }
}
