@import "../../../styles/app.scss";

.Info {
  &__email-button {

    border: 1px solid map-get($colors, "black");
    background: map-get($colors, "white");
    text-decoration: none;
    color: map-get($colors, "white");

    &:hover {
      text-decoration: none !important;
      background: map-get($colors, "black");

      > span {
        color: map-get($colors, "white");
      }
    }

    width: 25%;

    @media (min-width: 1024px) and (max-width: 1266px) {
      width: 33.33%;
    }

     @media (min-width: 640px) and (max-width: 858px) {
      width: 50%;
    }
  }
}
