@import "../../styles/app.scss";

.HeroHeadline {
  &__first-name {
    animation: fade-in-right $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);

    font-size: 2.25rem;

    @media (min-width: 640px) {
      font-size: 6rem;
    }
  }

  &__last-name {
    animation: fade-in-left $transition-duration-short cubic-bezier(0.25, 0.2, 0, 1);

    font-size: 2.25rem;

    @media (min-width: 640px) {
      font-size: 6rem;
    }
  }
}

