
@import "../../../styles/app.scss";

.ProjectCard{
  cursor: pointer;

  &__overlay {
    opacity: 0;
    -moz-transition: opacity $transition-duration-ultra-short ease-in-out;
    -webkit-transition: opacity $transition-duration-ultra-short ease-in-out;
    transition: opacity $transition-duration-ultra-short ease-in-out;

    p {
      font-size: 1.5rem;

      @media (min-width: 1024px) {
        font-size: 1rem;
      }

    }

    @media (min-width: 1024px) and (max-width: 1245px) {
      font-size: 0.75rem
    }
  }

  &__container {
    &:hover .ProjectCard__overlay {
      opacity: .80;
    }

    &:hover .ProjectCard__svg-container {
      transform: scale(1.5);
    }

    &:hover .ProjectCard__CTA {
      opacity: 1;
    }
  }

  &__svg-container {
    width: 10%;
    height: 10%;
    -moz-transition: transform $transition-duration-sorta-short ease-in-out;
    -webkit-transition: transform $transition-duration-sorta-short ease-in-out;
    transition: transform $transition-duration-sorta-short ease-in-out;

    svg {
      fill: map-get($colors, "black");
    }
  }

  &__CTA {
    opacity: 0;
    -moz-transition: opacity $transition-duration-1s ease-in-out;
    -webkit-transition: opacity $transition-duration-1s ease-in-out;
    transition: opacity $transition-duration-1s ease-in-out;
    transition-delay: 1s;
  }
}
