@import "../../styles/app.scss";

.MusicPlayer{

  height: 50px;

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: map-get($colors, "white");
  }

  &__icon {
    @media (min-width: 1024px) {
      &:hover {
        background-color: map-get($colors, "white");

        svg {
          background-color: map-get($colors, "white");
          fill: map-get($colors, "black");
        }
      }
    }

    &--arrow-rotated {
      transform: rotate(180deg);
      transition: transform 0.75s cubic-bezier(0.25, 0.2, 0, 1);
    }

    &--arrow-not-rotated {
      transform: rotate(0deg);
      transition: transform 0.75s cubic-bezier(0.25, 0.2, 0, 1); 
    }

    &--arrow {
      display: flex;

      @media (min-width: 1024px) {
        display: none;
      }

    }
  }

  &__icon-container {
    width: 50%;
    justify-content: flex-end;
    
    @media (min-width: 1024px) {
      justify-content: center;
    }

    @media (min-width: 640px) {
      width: 33.33%;
    }
  }

  &__data-container {
    width: 50%;
    font-size: 0.75rem;
    
    @media (min-width: 640px) {
      width: 66.66%;
      font-size: 100%;
    }

    &--duration{
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }    
  }

  &__mute-unmute-container {
      margin: 0;

      @media (min-width: 1024px) {
        margin-left: 1rem;
      }
  }
}
