@import "../../../styles/app.scss";

.MobileInfo {
  &__email-button {
    border: 1px solid map-get($colors, "black");
    box-shadow: -5px 5px 4px map-get($colors, "white");
    background: map-get($colors, "white");
    text-decoration: none;
    color: map-get($colors, "black");

    &:hover {
      background-color: map-get($colors, "grey");
      box-shadow: -5px 5px 4px map-get($colors, "grey");

      > span {
        color: map-get($colors, "white");
      }
    }
  }

}
